$backgroundColor1: #2060C2;
$backgroundColor2: #CFCE8B;
$textColor: #ffffff;

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
        & .icons{    
            &#logo {
                width: auto;
                height: 75px;
                margin-top: 10px;
                margin-left: 10px;
            }

            &#cart {
                width: auto;
                height: 65px;
                margin-top: 10px;
                margin-right: 10px;
            }
        }

        & button {
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
        }
}

body {
    color: $textColor;
    font-family: 'Courier New', Courier, monospace;
}