.section {
    //display: flex;
    //align-items: center;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 25px;
    }

    & img {
        width: 900px;
        height: auto;
        transform: scaleX(-1);
    }

        & .product-content {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            background: $backgroundColor1;
        }

        & .container-text {
            width: 55%;
            margin-top: 50px;
            height: 94%;

            & .description{
                overflow: hidden;
                max-height: 300px;
                width: 700px;
                margin-top: 50px;
                &:hover{
                    overflow: auto;
                }
            }
        }
    
}

#section-one {
    width: 100%;
    height: 100vh;
}

.preview {
    width: 100%;
    height: 4vh;
    background: $backgroundColor2;
 }

#bg1{
    //height: 100vh;
    background-color: $backgroundColor1;   
}  

#bg2{
    height: 100vh;
    background-color: $backgroundColor2;   
}
   